<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ming.shao.sidesliplistview">

    <application
        android:name=".ProjectApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SimpleLineActivity" />
        <activity android:name=".activity.DynamicTextViewActivity" />
        <activity android:name=".activity.SwipeLayoutActivity" />
        <activity android:name=".activity.HuaWeiActivity" />
        <activity android:name=".activity.CurveViewActivity" />
        <activity android:name=".activity.BezierActivity" />
        <activity android:name=".activity.AnumationActivity" />
        <activity android:name=".activity.RippleAnimationActivity" />
    </application>

</manifest>